.search {
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  display: none;
}

.search-trigger {
  right: 1rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  top: 1rem;

  &-txt {
    margin-right: 0.3rem;

    span {
      white-space: nowrap;
    }
  }
}

.search-input {
  position: relative;
  width: 100%;
  height: 3.7rem;
  background-color: #f7f7f6;
  font-size: 2rem;
  z-index: 1;
  margin: 0;
  flex-grow: 1;
  color: #9e0000;
  padding-left: 0.4rem;
  right: -100%;
  transition: right 0.3s ease-out;
  // animation-duration: .5s;
  // animation-name: searchInputSlideIn;
  // animation-iteration-count: 0;
  // animation-direction: alternate;
  // animation-timing-function: ease-out;
  border: {
    width: 0 0 2px 0;
    radius: 0;
    color: var(--red);
  }

  &::placeholder {
    color: var(--red);
    opacity: 0.5;
    font-family: "Lato";
  }

  &:focus,
  &:focus-visible {
    outline: none;
    color: var(--red);
  }
}

.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: absolute;
  top: 59px;
  left: 6px;
  right: 6px;
  bottom: 0;
  background-color: #d7d7d2;
  visibility: hidden;
  opacity: 0;
  // transform: scaleX(1.09);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  box-sizing: content-box;
  border-radius: 9px;

  h2 {
    margin-bottom: 2rem;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
  }

  .column {
    margin-bottom: 1rem;
  }

  &-close {
    position: absolute;
    top: 0.8rem;
    right: 3rem;
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.3s;
    line-height: 0.7;
  }
  &-container {
    padding: 2rem;
  }
}

.search-field {
  opacity: 0;
  z-index: 1;
  flex-grow: 1;
  height: 100%;
  max-width: 40rem;
  position: relative;
  overflow: hidden;
}

.search-field-active {
  overflow: hidden; // to prevent scrolling while search field is open

  .search-field {
    opacity: 1;
  }
  .search-trigger-txt {
    display: none;
  }
  .search-input {
    right: 0;
    // animation: .5s 0 alternate searchInputSlideOut;
    // animation-duration: .5s;
    // animation-name: searchInputSlideOut;
    // animation-iteration-count: 0;
    // animation-direction: alternate;
    // animation-timing-function: ease-out;
  }
}

@keyframes searchInputSlideOut {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes searchInputSlideIn {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

.search-results-active {
  .search-overlay {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-loader {
  left: 50vw;
  transform: translateX(-100%);
  position: absolute;
  margin-top: 45px;
  width: 24px;
  height: 24px;
}

.spinner-loader .anim {
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(62, 0, 0, 0.2);
  border-top-color: #9e0000;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.dashicons.search-icon {
  font-size: 2rem;
  line-height: 1.3rem;
  top: 3px;
  position: relative;
}
