html {
  height: 100vh;
}

body {
  background: #9e0000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  margin: 0;
  height: 100%;
  font-family: 'Lato';
  color: #9e0000;
}

.body-no-scroll {
  overflow: hidden;
}

.site-header {
  background-color: #f7f7f6;
  grid-column: 1/-1;
  border-radius: 9px;
  margin: 6px 6px 3px 6px;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
}

.site-title {
  width: 240px;
  margin: 0;
}

.site-main {
  background-color: #d7d7d1;
  grid-column: 1/-2;
  margin: 3px 3px 6px 6px;
  border-radius: 9px;
  padding: 1rem;
}

#sidebar {
  background-color: #e7e7e3;
  border-radius: 9px;
  padding: 1rem;
  margin: 3px 6px 6px 3px;
}

.search {
  position: absolute;
  right: 0.7rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.search-overlay__close {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  font-size: 2.1rem;
  cursor: pointer;
  transition: all .3s;
  line-height: .7;
}

.search-term {
  opacity: 1;
}

.search-trigger-text--hide {
  opacity: 0;
}

.search-field {
  opacity: 0;
  z-index: 1;
  // position: absolute;
  max-width: 570px;
  margin: 0;
  flex-grow: 1;
}

.search-field .search-input {
  border-width: 0 0 2px 0;
  height: 2rem;
  background-color: #f7f7f6;
  font-size: 1.2rem;
  border-radius: 0;
  color: #9e0000;
  width: 100%;
}

.search-input::placeholder {
  color: #9e0000;
  opacity: 0.5;
}

.search-field .search-input:focus,
.search-field .search-input:focus-visible {
  outline: none;
  color: #9e0000;
}

.search-field--show {
  opacity: 1;
  top: 6px;
  background-color: white;
  left: 10px;
  width: calc(100vw - 34px);
  z-index: 1;
}

.container {
  padding: 0.5rem 1rem;
}

.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: absolute;
  top: 61px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: #d7d7d2;
  visibility: hidden;
  opacity: 0;
  transform: scaleX(1.09);
  transition: opacity .3s, transform .3s, visibility .3s;
  box-sizing: content-box;
  border-radius: 7px;
}

.search-overlay--active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.search-overlay h2 {
  margin-bottom: 1rem;
}

.search-overlay h3 {
  margin-bottom: 0.3rem;
}

.search-overlay .column {
  margin-bottom: 1rem;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner-loader {
  left: 50vw;
  transform: translateX(-100%);
  position: absolute;
  margin-top: 45px;
  width: 24px;
  height: 24px;
}

.spinner-loader .anim {
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(62, 0, 0, 0.2);
  border-top-color: #9e0000;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}